@import "bootstrap-sprockets";

@import "bootstrap";
body {
  background-image: url("https://www.presentationmagazine.com/images3/businesslinescolours1024.jpg");
  background-color: #cccccc;
  color: whitesmoke;
  margin-top: 2rem;
  font-size: 2rem;
}
form {
  color: black;
}
